Resources:
  TaggingComplianceRule:
    Type: AWS::Config::ConfigRule
    Properties:
      ConfigRuleName: ${config_rule_name}
      Description: ${description}
      Scope:
        ComplianceResourceTypes: 
          ${ for resource in resource_types ~}
          - ${resource}
          ${- endfor ~}
      Source:
        Owner: CUSTOM_LAMBDA
        SourceIdentifier: ${lambda_function_arn}
        SourceDetails:
          - EventSource: aws.config
            MessageType: ConfigurationItemChangeNotification
          - EventSource: aws.config
            MessageType: OversizedConfigurationItemChangeNotification
          {% if config_frequency != null %}
          - EventSource: aws.config
            MessageType: ScheduledNotification
            MaximumExecutionFrequency: ${config_frequency}
          {% endif %}
